<div class="bg-white flex flex-col rounded-xl shadow-sm items-start gap-2 p-4">
  <h1 class="text-sm font-semibold">Create a Post</h1>
  <textarea
    [(ngModel)]="description"
    class="outline-none w-full text-wrap p-2 text-xs rounded-xl h-20 border"
    placeholder="Start Typing Here"
  ></textarea>
  <textarea
    [(ngModel)]="imageUrl"
    class="outline-none w-full text-wrap p-2 text-xs rounded-xl h-10 border"
    placeholder="Image URL"
  ></textarea>
  <app-custom-button
    (onButtonTap)="submitPost()"
    class="self-end"
    btnText="Submit"
    radius="rounded-full"
    textSize="text-sm"
  ></app-custom-button>
</div>
