<div
  class="flex shadow-sm gap-2 flex-col p-5 border-neutral-200 bg-white w-full rounded-lg border"
>
  <app-user-tile class="px-2" [user]="post.user"></app-user-tile>
  @if(post.description !== undefined && post.description.length > 0){
  <p class="text-sm px-4 text-neutral-700">
    {{ post.description }}
  </p>
  } @if(post.image !== undefined && post.image.length > 0){
  <img
    class="aspect-auto object-cover rounded-lg"
    [src]="post.image"
    alt=""
    srcset=""
  />
  }
  <div class="flex flex-row items-center justify-between gap-6 w-full">
    <div class="flex flex-row items-center gap-4">
      <div class="flex flex-row gap-1 items-center">
        <p class="text-neutral-600 text-sm">Likes</p>

        <h1 class="text-neutral-600 text-sm">{{ post.likesCount }}</h1>
      </div>

      <div class="flex flex-row gap-1 items-center">
        <p class="text-neutral-600 text-sm">Comments</p>

        <h1 class="text-neutral-600 text-sm">{{ post.commentsCount }}</h1>
      </div>

      <div class="flex flex-row gap-1 items-center">
        <p class="text-neutral-600 text-sm">Shares</p>

        <h1 class="text-neutral-600 text-sm">{{ post.sharesCount }}</h1>
      </div>
    </div>
    <!-- <app-custom-button
      [isOutline]="false"
      radius="rounded-full"
      btnText="View More"
      textSize="text-xs"
    ></app-custom-button> -->
  </div>
</div>
