<div class="flex flex-row w-full justify-between items-center">
  <div class="flex flex-row gap-2">
    <img [src]="user.avatar" class="h-10 w-10 rounded-full bg-neutral-200" />

    <div class="flex flex-col">
      <h1 class="text-sm font-semibold">{{ user.first_name }}</h1>
      <p class="text-xs text-neutral-400">{{ user.email }}</p>
    </div>
  </div>

  @if(showButtons){ @if(isFollowing){
  <app-custom-button
    btnText="Following"
    radius="rounded-full"
    [isOutline]="true"
    textSize="text-xs"
  ></app-custom-button>
  } @if(!isFollowing){
  <app-custom-button
    (onButtonTap)="onTap(user)"
    btnText="Follow"
    radius="rounded-full"
    textSize="text-xs"
  ></app-custom-button>

  } }
</div>
